
<div class="card w-50 h-75 my-5 mx-auto">
    <div class="card-body text-center">
      <h1 class="card-title">{{ lesson.name }}</h1>
      <p class="card-text"><small class="text-muted">{{ lesson.createDate }}</small></p>
    </div>
</div>

<div *ngIf="lesson.screen" class="card w-75 h-75 my-2 mx-auto">
    <h2 class="text-center">Video</h2>
    <div class="card-body w-75 text-center"> <!--*ngIf="lesson.screen"-->
        <video #video src="" autoplay controls class="w-100 h-auto mx-auto"></video>
    </div>
</div>

<div class="card w-75 h-75 my-2 mx-auto">
    <h2 class="text-center">Files & Links</h2>
    <div class="card-body row">
        <div class="col col-6">
            <div *ngFor="let file of lesson.files"> <!--for files-->
                <img src="../../../assets/images/select-file.jpg" width="30px" height="30px"><!--windows file icon-->
                <span (click)="downloadFile(file)" class="btn btn-outline-secondary mx-2">{{ file }}</span>
            </div>
        </div>
        <div class="col col-6">
            <div *ngFor="let l of lesson.links"> <!--for links-->
                <img src="../../../assets/images/link.png" width="30px" height="30px"><!--windows file icon-->
                <a href="{{ l.link }}" target="_blank" class="mx-2">{{ l.statement }}</a>
            </div>
        </div>
    </div>
</div>

<div class="card w-75 h-75 my-2 mx-auto">
    <h2 class="text-center">Disscussion</h2>
    <div class="card-body">
        <div *ngFor="let comment of comments" 
            [class.bg-success]="comment.sender.id == student._id" 
            [class.float-left]="comment.sender.id == student._id" 
            [class.bg-light]="comment.sender.id != student._id" 
            [class.float-right]="comment.sender.id != student._id" 
            class="w-75 border border-dark rounded m-2 p-1">
            <span class="text-secondary" [class.text-light]="comment.sender.id == student._id">{{ comment.sender.name }} - {{ comment.timestamp }}</span>
            <br>
            <span class="text-dark">{{ comment.content }}</span>
        </div>
    </div>
    <div class="w-100 h-50 border border-dark rounded m-1 p-1 bg-light">
        <form #f="ngForm" (ngSubmit)="sendComment()" class="align-middle">
            <div class="d-flex align-items-center">
                <input [(ngModel)]="commentContent" name="comment" type="text" class="form-control w-100 d-inline-block" placeholder="Enter a Comment">
                <input type="image" src="../../../assets/images/comment.png" class="d-inline-block" width="50px" height="50px">
            </div>
        </form>
    </div>
</div>