<div class="mx-auto w-50 text-center">
    <div class="alert alert-info">Student Name</div>
</div>

<div class="mx-auto">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Quiz Name</th>
            <th scope="col">Max Grade</th>
            <th scope="col">Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr> <!--*ngFor-->
            <th scope="row">q</th>
            <td>10</td>
            <td>10</td>
          </tr>
        </tbody>
    </table>
</div>