<div *ngIf="!change" class="card  w-50 h-75 mt-5 mx-auto">
    <div class="body card-body w-100 m-auto">
        <h5>check your email, we send the reset number</h5>
        <h5 class="mr-1 d-inline-block">reset number:</h5>
        <input [(ngModel)]="resetNumber" type="text" name="resetNumber" placeholder="enter reset number"><br>
        <button (click)="displayChangePassword()" class="btn btn-primary mt-3">Done</button>
    </div>
</div>

<div *ngIf="resetError" class="alert alert-danger">{{ resetError }}</div>

<div *ngIf="change" class="card  w-50 h-75 mt-5 mx-auto">
    <div class="body card-body w-100 m-auto">
        <label for="password" class="m-1">Password: </label>
        <input ngModel name="password" #password="ngModel" type="password" class="form-control m-2" placeholder="Password" required minlength="6">
        <div class="alert alert-danger m-2" *ngIf="password.touched && password.errors?.required">Password is required</div>
        <div class="alert alert-danger m-2" *ngIf="password.touched && password.errors?.minlength">Password should be 6+ charachters</div>
    
        <label for="passwordConfirm" class="m-1">Confirm Password: </label>
        <input ngModel name="passwordConfirm" #passwordConfirm="ngModel" type="password" class="form-control m-2" placeholder="Confirm Password" required>
        <div class="alert alert-danger m-2" *ngIf="passwordConfirm.invalid && passwordConfirm.touched">Password Confirm is required</div>
        <div class="alert alert-danger m-2" *ngIf="passwordConfirm.value !== password.value && passwordConfirm.touched">Passwords are not equal</div>

        <button (click)="changePassword(password.value)" class="btn btn-primary" [disabled]="!password.value || !passwordConfirm.value || passwordConfirm.value !== password.value">change password</button>
    </div>
</div>
